@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?abwqxp');
  src:  url('fonts/icomoon.eot?abwqxp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?abwqxp') format('truetype'),
    url('fonts/icomoon.woff?abwqxp') format('woff'),
    url('fonts/icomoon.svg?abwqxp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-event:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-shopping:before {
  content: "\e902";
}
.icon-beach:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e905";
}
